html,body,div {
    height: 100%;
    background-color:#181414
}

#root{
    height: 100%;
    height: 100%;
}

.board{
    height: 1000px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.row{
    width: 100%;
    height: 12.5%;
    display: flex;
}

.square{
    width:12.5%;
    height: 100%;
}

.fenReader{
    width: 1000px;
    height: 25px;
    margin: auto;
}

svg{
    width: 100%;
    height: 100%;
}

#fen{
    width: 90%;
    height: 90%;
    margin-top: 12px;
}
#fenButton{
    width: 9%;
    height: 100%;
    background-color:darkgrey;
}
#getBest{
    width: 1000px;
    height: 25px;
    margin: auto;
}
#time{
    width: 90%;
    height: 90%;
    margin-top: 12px;
}
#bestMove{
    width: 9%;
    height: 100%;
    background-color:darkgrey;
}